mixin sServices(btn, h, ...items)
	// start sServices
	+b.SECTION.sServices.section#sServices&attributes(attributes)
		.container
			+b.section-title
				h2!= h
				each item in items
					p!= item
			block
			if btn
				+e.btn-wrap
					+e.btn(href="#")!= btn
	// end sServices


mixin cards()
	+e.content--cards&attributes(attributes)
		.row
			- for (var x = 0; x < 4; x++)
				.col-6.col-lg-3
					+e.card
						h4 > 250
						p Pellentesque mollis nibh non nibh laoreet vulputate.

mixin cards2()
	+e.content--cards-lg&attributes(attributes)
		.row
			- for (var x = 0; x < 3; x++)
				.col-lg-4
					+e.card--lg
						h4 Заголовок
						p Pellentesque mollis nibh non nibh laoreet vulputate. Mauris id metus dignissim, efficitur nulla quis, fermentum. Pellentesque mollis nibh non nibh laoreet vulputate. Mauris id metus dignissim, efficitur nulla quis, fermentum. Pellentesque mollis nibh non nibh laoreet vulputate. Mauris id metus dignissim, efficitur nulla quis, fermentum. 

mixin cards3()
	+e.content--cards&attributes(attributes)
		.row
			- for (var x = 0; x < 2; x++)
				.col-md-6
					+e.card--text
						h4 Заголовок
						p Pellentesque mollis nibh non nibh laoreet vulputate. <br> Mauris id metus dignissim, efficitur nulla quis, fermentum. <br> Pellentesque mollis nibh non nibh laoreet vulputate. <br> Mauris id metus dignissim, efficitur nulla quis, fermentum. <br> Pellentesque mollis nibh non nibh laoreet vulputate. <br> Mauris id metus dignissim, efficitur nulla quis, fermentum. <br> Pellentesque mollis nibh non nibh laoreet vulputate. <br> Mauris id metus dignissim, efficitur nulla quis, fermentum. <br> Pellentesque mollis nibh non nibh laoreet vulputate. <br> Mauris id metus dignissim, efficitur nulla quis, fermentum.

mixin double-slider()
	+e.content--slider&attributes(attributes)
		h3 Виртуальные туры
		+e.slider--js.swiper
			.swiper-wrapper
				mixin slider-item(p) 
					+e.slide.swiper-slide
						+e.slider-item(href="https://www.youtube.com/watch?v=z2X2HaTvkl8", data-fancybox=`sServices-gallery`)
							+e.img-wrap.bg-wrap
								+pic(`sServices-slider-1.jpg`, "bg", 0).picture-bg
								+icon("play")
							p!= p
				+slider-item(`Pellentesque mollis nibh non nibh laoreet vulputate.`)
				+slider-item(`Pellentesque mollis nibh non nibh laoreet vulputate.`)
				+slider-item(`Pellentesque mollis nibh non nibh laoreet vulputate. Pellentesque mollis nibh non nibh laoreet vulputate.`)
				+slider-item(`Pellentesque mollis nibh non nibh laoreet vulputate.`)
				+slider-item(`Pellentesque mollis nibh non nibh laoreet vulputate. Pellentesque mollis nibh non nibh laoreet vulputate.`)
				+slider-item(`Pellentesque mollis nibh non nibh laoreet vulputate.`)
				+slider-item(`Pellentesque mollis nibh non nibh laoreet vulputate.`)
				+slider-item(`Pellentesque mollis nibh non nibh laoreet vulputate.`)
				+slider-item(`Pellentesque mollis nibh non nibh laoreet vulputate.`)
				+slider-item(`Pellentesque mollis nibh non nibh laoreet vulputate.`)
				+slider-item(`Pellentesque mollis nibh non nibh laoreet vulputate.`)
				+slider-item(`Pellentesque mollis nibh non nibh laoreet vulputate.`)
				+slider-item(`Pellentesque mollis nibh non nibh laoreet vulputate.`)
				+slider-item(`Pellentesque mollis nibh non nibh laoreet vulputate.`)
			+slider-controls

mixin docs()
	+e.content--docs&attributes(attributes)
		h3 Документы
		.row
			- for (var x = 0; x < 6; x++)
				.col-md-6
					+e.download(href="#" download)
						.row
							.col-auto
								+icon('document')
							.col
								p Pellentesque mollis nibh non nibh laoreet vulputate. Mauris id metus dignissim, efficitur nulla quis

mixin picture(i)
	+e.content--picture&attributes(attributes)
		+pic(`sServices-${i}.jpg`, `bg`).bg-wrap
