mixin footer()
	+b.FOOTER.footer
		.container
			.row
				+e.col-menu.col-12.col-lg-5
					+logo()
					+mnu()
				.col-6.col-lg-4
					h6 Услуги
					+e.UL.list
						li
							a(href="#") Подбор земельных участков
						li
							a(href="#") Юридическое сопровождение, Due Diligence Разработка
						li
							a(href="#") Разработка градостроительной документации
						li
							a(href="#") Оценка градостроительного потенциала и инвестиционной стоимости
						li
							a(href="#") Аналитические исследования земельного рынка и девелоперских проектов
						li
							a(href="#") Аэрофотосъемка объектов
				.col-6.col-lg-3
					h6 Земельные участки
					+e.UL.list
						li
							a(href="#") Многоэтажное жилищное строительство
						li
							a(href="#") Индивидуальное жилищное строительство
						li
							a(href="#") Промышленное назначение 
						li
							a(href="#") Коммерческое назначение
						li
							a(href="#") Рекреационное назначение 
						li
							a(href="#") Сельскохозяйственное использование
				.col
					+e.creators
						span © 2021
						span Разработка сайта #[a(href="#") smartlab.ru]