mixin sContact()
	// start sContact
	+b.SECTION.sContact.section#sContact&attributes(attributes)
		.container
			+b.section-title
				h2 Контакты компании <br> Veresk Group
			+e.row.row
				.col
					ul
						li
							+e.subtitle Телефон
							+e.tel(href="tel:+79876543210") +7 987 654 32 10
							+e.btn(href="#") Обратный звонок
						li
							+e.subtitle Режим работы
							p Без выходных с 10:00 до 20:00
						li
							+e.subtitle Адрес офиса
							p Москва, улица Первая, дом 20, офис 303
						li
							+e.subtitle Email
							+e.email(href="mailto:help@site.ru") help@site.ru
						li
							+e.subtitle Мессенджеры и соцсети
							+soc()
								+item-sos('telegram')
								+item-sos('viber')
								+item-sos('whatsapp')
								+item-sos('facebook')
				.col-lg-auto
					+request()
				.col-12
					+e.map
						+e.map-widget#map
						
	// end sContact