mixin sContactMain(data)
	// start sContactMain
	+b.SECTION.sContactMain.section#sContactMain&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 sContactMain
				
			.row
	// end sContactMain