@use "sass:math";

.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-arrow-down {
	font-size:math.div(10,10)*1rem;
	width: math.div(13,10)*1em;
}
.icon-arrow-left {
	font-size:math.div(13,10)*1rem;
	width: math.div(21,13)*1em;
}
.icon-arrow-right {
	font-size:math.div(13,10)*1rem;
	width: math.div(21,13)*1em;
}
.icon-arrow-up {
	font-size:math.div(10,10)*1rem;
	width: math.div(13,10)*1em;
}
.icon-basket {
	font-size:math.div(24,10)*1rem;
	width: math.div(22,24)*1em;
}
.icon-check {
	font-size:math.div(27,10)*1rem;
	width: math.div(27,27)*1em;
}
.icon-dd-button {
	font-size:math.div(4,10)*1rem;
	width: math.div(5,4)*1em;
}
.icon-document {
	font-size:math.div(70,10)*1rem;
	width: math.div(54,70)*1em;
}
.icon-document-outline {
	font-size:math.div(36,10)*1rem;
	width: math.div(36,36)*1em;
}
.icon-document-small {
	font-size:math.div(28,10)*1rem;
	width: math.div(28,28)*1em;
}
.icon-facebook {
	font-size:math.div(14,10)*1rem;
	width: math.div(7,14)*1em;
}
.icon-fb {
	font-size:math.div(24,10)*1rem;
	width: math.div(24,24)*1em;
}
.icon-instagram {
	font-size:math.div(24,10)*1rem;
	width: math.div(24,24)*1em;
}
.icon-picture {
	font-size:math.div(30,10)*1rem;
	width: math.div(30,30)*1em;
}
.icon-play {
	font-size:math.div(42,10)*1rem;
	width: math.div(36,42)*1em;
}
.icon-play-small {
	font-size:math.div(24,10)*1rem;
	width: math.div(21,24)*1em;
}
.icon-telegram {
	font-size:math.div(13,10)*1rem;
	width: math.div(15,13)*1em;
}
.icon-viber {
	font-size:math.div(16,10)*1rem;
	width: math.div(15,16)*1em;
}
.icon-vk {
	font-size:math.div(24,10)*1rem;
	width: math.div(24,24)*1em;
}
.icon-whatsapp {
	font-size:math.div(16,10)*1rem;
	width: math.div(16,16)*1em;
}
