mixin headerBlock()
	// start headerBlock
	+b.headerBlock.section.bg-wrap#headerBlock&attributes(attributes)
		+e.slider--js.swiper
			.swiper
				+e.slide.swiper-slide.bg-wrap
					+pic("slide.jpg",'bg',0).picture-bg
		.container
			.row
				.col
					+e.text-block
						h1 Продажа земельных участков в Москве
						p Pellentesque mollis nibh non nibh laoreet vulputate. Mauris id metus dignissim, efficitur nulla quis. 
				.col-auto
					+request()

	// end headerBlock