mixin sCatalogItem(data)
	// start sCatalogItem
	+b.SECTION.sCatalogItem.section#sCatalogItem&attributes(attributes)
		.container
			+b.section-title
				h2 Воробьевы горы
			+e.head-row.row
				h6 Стоимость
				.col
					+e.price 13 800 000 ₽
				.col-lg-auto
					.row
						.col-auto
							+e.link(href="#")
								+icon('play-small')
								span Видео
						.col-auto
							+e.link(href="#")
								+icon('picture')
								span Панорама
						.col-auto
							+e.link(href="#")
								+icon('document-small')
								span Презентация объекта
			+e.main-row.row
				.col
					h3 Об участке
					p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptate ex provident ducimus nam, eius assumenda id repudiandae praesentium inventore a voluptatum, quisquam perspiciatis sapiente, deleniti vero! Perferendis necessitatibus odio consectetur.
				+e.col.col-lg-auto
					.row
						.col-12
							h3 Форма участка
							+e.img-wrap(href="img/@2x/sCatalogItem-1.png" data-fancybox="sCatalogItem-1")
								+pic(`sCatalogItem-1.png`, `bg`, 0)
						.col-12
							h3 Фотогалерея
							+e.slider--js.swiper
								.swiper-wrapper
									+e.slide.swiper-slide
										+e.img-wrap(href="img/@2x/sCatalogItem-1.png" data-fancybox="sCatalogItem-2")
											+pic(`sCatalogItem-1.png`, `bg`, 0)
									+e.slide.swiper-slide
										+e.img-wrap(href="img/@2x/sCatalogItem-1.png" data-fancybox="sCatalogItem-2")
											+pic(`sCatalogItem-1.png`, `bg`, 0)
									+e.slide.swiper-slide
										+e.img-wrap(href="img/@2x/sCatalogItem-1.png" data-fancybox="sCatalogItem-2")
											+pic(`sCatalogItem-1.png`, `bg`, 0)
									+e.slide.swiper-slide
										+e.img-wrap(href="img/@2x/sCatalogItem-1.png" data-fancybox="sCatalogItem-2")
											+pic(`sCatalogItem-1.png`, `bg`, 0)
								+arrow
				.col-12
					+e.map-wrap
						h3 Расположение участка
						+e.map
							+e.map-widget#map2
							//- script.
							//- 	ymaps.ready(function () {
							//- 		var myMap2 = new ymaps.Map('map2', {
							//- 			center: [55.755819, 37.617644],
							//- 			zoom: 17,
							//- 			controls: ['zoomControl']
							//- 		}, {
							//- 			//searchControlProvider: 'yandex#search'
							//- 		}),
							//- 			// Создаём макет содержимого.
							//- 			// MyIconContentLayout = ymaps.templateLayoutFactory.createClass(
							//- 			// 		'<div style="color: #FFFFFF; font-weight: bold;">$[properties.iconContent]</div>'
							//- 			// ),

							//- 			myPlacemark2 = new ymaps.Placemark(myMap2.getCenter(), {
							//- 				hintContent: 'Veresk Group',
							//- 				balloonContent: 'Москва, улица Первая, дом 20, офис 303'
							//- 			}, {
							//- 				// Опции.
							//- 				// Необходимо указать данный тип макета.
							//- 				// iconLayout: 'default#image',
							//- 				// Своё изображение иконки метки.
							//- 				// iconImageHref: 'img/svg/logo.svg',
							//- 				// Размеры метки.
							//- 				// iconImageSize: [60, 42],
							//- 				// Смещение левого верхнего угла иконки относительно
							//- 				// её "ножки" (точки привязки).
							//- 				// iconImageOffset: [-5, -38]
							//- 			});
							//- 		myMap2.behaviors.disable('scrollZoom');
							//- 		//на мобильных устройствах... (проверяем по userAgent браузера)
							//- 		if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
							//- 			//... отключаем перетаскивание карты
							//- 			// myMap.behaviors.disable('drag');
							//- 		}
							//- 		myMap2.geoObjects
							//- 			.add(myPlacemark2);
							//- 	});
						p Cras imperdiet euismod justo ac venenatis. Phasellus tincidunt feugiat neque quis porta. Nulla pulvinar pellentesque est, et dapibus arcu faucibus vel. Quisque et pretium quam. Curabitur aliquet vitae lacus eu luctus. Integer lobortis justo eu orci vehicula posuere eget ac quam. Mauris viverra sit amet diam ac posuere. Nunc pretium elementum rutrum. Aliquam vel dolor fermentum urna convallis rutrum. Integer posuere mauris at felis fringilla imperdiet. Phasellus cursus turpis sed vehicula semper. Pellentesque et sodales nisl, id tempus nisl. Curabitur massa nisi, dapibus ac risus sit amet, consequat dignissim erat. Nam tempor, ligula eu pharetra placerat, velit risus vehicula lectus, aliquet viverra nunc leo id nibh. Suspendisse tempor ligula ac nunc.
	// end sCatalogItem