mixin sCatalogItem(data)
	// start sCatalogItem
	+b.SECTION.sCatalogItem.section#sCatalogItem&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 sCatalogItem
				
			.row
	// end sCatalogItem