extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContactMain/_sContactMain.pug
include ../blocks/sObjects/_sObjects.pug
//- include ../blocks/sSearch/_sSearch.pug
include ../blocks/sBestDeals/_sBestDeals.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sAbout/_sAbout.pug

block variables
	- let  mainPage= null 
	- let  bg= null

block title
	- let  title= 'Модальные окна'
	title= title
block pagecontent
	//- +mob-mnu()
	+header()
		+top-nav()
	.section
		.container
			.row
				mixin btn(id, name)
					.col-auto.mb-2
						a.btn.btn-primary.link-modal-js(href=`#${id}`)= name
				+btn("feedback", "Обратный звонок")
				+btn("request", "Отправить заявку")



