extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContactMain/_sContactMain.pug
include ../blocks/sObjects/_sObjects.pug
//- include ../blocks/sSearch/_sSearch.pug
include ../blocks/sBestDeals/_sBestDeals.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sAbout/_sAbout.pug

block variables
	- let  mainPage= null 
	- let  bg= null

block title
	- let  title= 'О компании'
	title= title
block pagecontent
	//- +mob-mnu()
	+header()
		+top-nav()
	+headerBlock()
	+sObjects('cards', 'Наша компания имеет<br>множество различных объектов', 'Pellentesque mollis nibh non nibh laoreet vulputate. Mauris id&nbsp;metus dignissim, efficitur nulla quis,')
	+sBestDeals()
	+sForm()
	+sContactMain()
	+footer()




