extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContactMain/_sContactMain.pug
//- include ../blocks/sObjects/_sObjects.pug
//- include ../blocks/sSearch/_sSearch.pug
//- include ../blocks/sBestDeals/_sBestDeals.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sServices/_sServices.pug

block variables
	- let  mainPage= null 
	- let  bg= null

block title
	- let  title= 'Все услуги'
	title= title
block pagecontent
	//- +mob-mnu()
	+header()
		+top-nav()
	+headerBlock()
	+sServices(`Отправить заявку`, `Подбор земельных участков`, `Pellentesque mollis nibh non nibh laoreet vulputate.`, `Mauris id metus dignissim, efficitur nulla quis, fermentum.`)
		+cards()
	+sServices(`Отправить заявку`, `Юридическое сопровождение, <br> Due Diligence`, `Pellentesque mollis nibh non nibh laoreet vulputate.`, `Mauris id metus dignissim, efficitur nulla quis, fermentum.`).bg-light
		+cards2()
	+sServices(`Отправить заявку`, `Разработка градостроительной документации`, `Pellentesque mollis nibh non nibh laoreet vulputate.`, `Mauris id metus dignissim, efficitur nulla quis, fermentum.`)
		+cards()
	+sServices(`Отправить заявку`, `Оценка градостроительного потенциала и инвестиционной стоимости`, `Pellentesque mollis nibh non nibh laoreet vulputate. Mauris id metus dignissim, efficitur nulla quis`).bg-light
		+docs()
	+sServices(`Отправить заявку`, `Аналитические исследования земельного рынка и девелоперских проектов`, `Pellentesque mollis nibh non nibh laoreet vulputate.  Mauris id metus dignissim, efficitur nulla quis`)
		+docs()
	+sServices(`Отправить заявку`, `Оценка градостроительного потенциала и инвестиционной стоимости`, `Pellentesque mollis nibh non nibh laoreet vulputate. Mauris id metus dignissim, efficitur nulla quis`).bg-light
		+double-slider()
	+sForm()
	+sContactMain()
	+footer()




