extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContactMain/_sContactMain.pug
include ../blocks/sObjects/_sObjects.pug
//- include ../blocks/sSearch/_sSearch.pug
//- include ../blocks/sBestDeals/_sBestDeals.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sServices/_sServices.pug
include ../blocks/sBestDeals/_sBestDeals.pug

block variables
	- let  mainPage= 'single-service'
	- let  bg= null

block title
	- let  title= 'Отдельная услуга'
	title= title
block pagecontent
	//- +mob-mnu()
	+header()
		+top-nav()
	+breadcrumb("Главная", "Услуги", "Подбор земельных участков").light
	+headerBlock4()
	.service-wrap
		//- +sServices()
		+sServices2('Искусство продажи недвижимости', '1', 'Для нас продажи – это творческий процесс, результат которого проявляется в стремлении создать идеальный уровень сервиса для покупателя, а продаваемый объект недвижимости сделать более ликвидным, узнаваемым, и запоминающимся с самой положительной стороны.', 'Каждый наш клиент, вне зависимости от бюджета его покупки, получает уникальный по своему содержанию уровень сервиса, который превращает покупку квартиры в приятный и запоминающийся процесс. И даже после успешного закрытия сделок мы не забываем своих клиентов и продолжаем оказывать им содействия в любых возникающих вопросах вплоть до новоселья.', )
		+sServices(``, `Эксклюзивные условия`, ``)
			+cards3().mb-0
		+sServices(``, `Земельный участок на перекрестке Прусикина`, `Pellentesque mollis nibh non nibh laoreet vulputate. Mauris id metus dignissim, fermentum. Mauris id metus dignissim, efficitur nulla quis, fermentum. `)
			+cards2().mb-0
	+sBestDeals()
	+sForm()
	+sContactMain()
	+footer()




