extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContactMain/_sContactMain.pug
include ../blocks/sObjects/_sObjects.pug
//- include ../blocks/sSearch/_sSearch.pug
//- include ../blocks/sBestDeals/_sBestDeals.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sServices/_sServices.pug
include ../blocks/sBestDeals/_sBestDeals.pug

block variables
	- let  mainPage= 'single-service'
	- let  bg= null

block title
	- let  title= 'Отдельная услуга'
	title= title
block pagecontent
	//- +mob-mnu()
	+header()
		+top-nav()
	+headerBlock()
	.service-wrap
		//- +sServices()
		+sServices(``, `Земельный участок на перекрестке Прусикина`, `Pellentesque mollis nibh non nibh laoreet vulputate. Mauris id metus dignissim, fermentum. Mauris id metus dignissim, efficitur nulla quis, fermentum. `)
			+picture(1).mb-0
		+sServices(``, `Земельный участок на перекрестке Прусикина`, `Pellentesque mollis nibh non nibh laoreet vulputate. Mauris id metus dignissim, fermentum. Mauris id metus dignissim, efficitur nulla quis, fermentum. `)
			+cards3().mb-0
		+sServices(``, `Земельный участок на перекрестке Прусикина`, `Pellentesque mollis nibh non nibh laoreet vulputate. Mauris id metus dignissim, fermentum. Mauris id metus dignissim, efficitur nulla quis, fermentum. `)
			+cards2().mb-0
	+sBestDeals()
	+sForm()
	+sContactMain()
	+footer()




