extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContactMain/_sContactMain.pug
//- include ../blocks/sObjects/_sObjects.pug
//- include ../blocks/sSearch/_sSearch.pug
//- include ../blocks/sBestDeals/_sBestDeals.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sServices/_sServices.pug
include ../blocks/sBestDeals/_sBestDeals.pug
include ../blocks/sCatalog/_sCatalog.pug

block variables
	- let  mainPage= null 
	- let  bg= null

block title
	- let  title= 'Все земельные участки'
	title= title
block pagecontent
	//- +mob-mnu()
	+header()
		+top-nav()
	+headerBlock()
	+breadcrumb("Главная", "Земельные участки", "Индивидуальное жилищное строительство", "Название земельного участка")
	+sCatalog()
	+sBestDeals()
	+sForm()
	+sContactMain()
	+footer()




