extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContactMain/_sContactMain.pug
//- include ../blocks/sObjects/_sObjects.pug
//- include ../blocks/sSearch/_sSearch.pug
//- include ../blocks/sBestDeals/_sBestDeals.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sServices/_sServices.pug
include ../blocks/sBestDeals/_sBestDeals.pug
include ../blocks/sCatalogItem/_sCatalogItem.pug

block variables
	- let  mainPage= null 
	- let  bg= null

block title
	- let  title= 'Отдельный земельный участок'
	title= title
block pagecontent
	//- +mob-mnu()
	+header()
		+top-nav()
	+breadcrumb("Главная", "Земельные участки", "Индивидуальное жилищное строительство", "Название земельного участка")
	//- +headerBlock()
	+sCatalogItem()
	+sBestDeals()
	+sForm()
	+sContactMain()
	+footer()

block map
	script.
		function init() {
				var center = [55.755819, 37.617644];
				var myMap1 = new ymaps.Map('map', {
						center: center,
						zoom: 17,
						controls: ['zoomControl']
				});
				var myPlacemark1 = new ymaps.Placemark(center, {
						// Свойства.
						// Содержимое иконки, балуна и хинта.
						hintContent: 'Veresk Group',
						balloonContent: 'Москва, улица Первая, дом 20, офис 303'
				});
				myMap1.geoObjects.add(myPlacemark1);
				myMap1.behaviors.disable('scrollZoom');
				//на мобильных устройствах... (проверяем по userAgent браузера)
				if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
					// ... отключаем перетаскивание карты
					myMap1.behaviors.disable('drag');
				}



				var myMap2 = new ymaps.Map('map2', {
						center: center,
						zoom: 17,
						controls: ['zoomControl']
				});
				var myPlacemark2 = new ymaps.Placemark(center, {
						// Свойства.
						// Содержимое иконки, балуна и хинта.
						hintContent: 'Veresk Group',
						balloonContent: 'Москва, улица Первая, дом 20, офис 303'
				});
				myMap2.geoObjects.add(myPlacemark2);
				myMap2.behaviors.disable('scrollZoom');
				//на мобильных устройствах... (проверяем по userAgent браузера)
				if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
					// ... отключаем перетаскивание карты
					myMap2.behaviors.disable('drag');
				}
		}




