extends layout/main.pug


include ../blocks/sContent/_sContent.pug
//- include ../blocks/sContact/_sContact.pug
//- include ../blocks/sObjects/_sObjects.pug
//- include ../blocks/sSearch/_sSearch.pug
//- include ../blocks/sBestDeals/_sBestDeals.pug

block variables
	- let  mainPage= null 
	- let  bg= null

block title
	- let  title= 'Cоглашение об обработке персональных данных'
	title= title
block pagecontent
	//- +mob-mnu()
	+header()
		+top-nav()
	+breadcrumb("Главная", "Cоглашение об обработке персональных данных")
	+sContent()
	+footer()




