extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContactMain/_sContactMain.pug
include ../blocks/sCatalogMain/_sCatalogMain.pug
include ../blocks/sSearch/_sSearch.pug
include ../blocks/sBestDeals/_sBestDeals.pug
include ../blocks/sAbout/_sAbout.pug

block variables
	- let  mainPage= 'main-page' 
	- let  bg= 'main.jpg'

block title
	- let  title= 'Главная'
	title= title
block pagecontent
	//- +mob-mnu()
	+header()
		+top-nav()
	+headerBlock()
	+sCatalogMain()
	+sSearch()
	+sBestDeals()
	+sAbout()
	//- Block
	+sContactMain()
	+footer()




