mixin sCatalogMain(data)
	// start sCatalogMain
	+b.SECTION.sCatalogMain.section#sCatalogMain&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 sCatalogMain
				
			.row
	// end sCatalogMain