mixin sSearch(data)
	// start sSearch
	+b.SECTION.sSearch.section#sSearch&attributes(attributes).bg-light
		.container
			+b.section-title.text-center
				h2 Воспользуйтесь поиском
				p Pellentesque mollis nibh non nibh laoreet vulputate. Mauris id&nbsp;metus dignissim, efficitur nulla quis, fermentum.
			.h3.fw-600.mb-3 Отображение подбора
			+e.row-head.row.g-3.mb-4
				.col-auto
					+e.btn(href="#").active 
						span.d-none.d-lg-inline Подбор 
						| по карте
				.col-auto
					+e.btn(href="#") 
						span.d-none.d-lg-inline Подбор 
						| по критериям
				.col-auto.d-lg-none.ms-auto
					button.btn.btn-outline-primary.filter-toggle-js Фильтры
			+e.inner
				.row
					.col-lg-3
						+b.filter-block--aside.--js
							+e.head.h5.fw-600.mb-4 Фильтр
							+e.close.filter-toggle-js
							+e.inner
								mixin item(t, ...items)
									+e.group&attributes(attributes)

										+e.title= t
										+e.group-inner
											each item in items
												+in-c("checkbox", item)
											block
								+item(`Регион`,`Москва`,`Московская область`,`Регионы`)
								+item(`Шоссе`,`Алтуфьевское`,`Боровское`,`Варшавское`,`Вашутинское`,`Волковское`,`Волоколамское`,`Варшавское`,`Вашутинское`,`Волковское`,`Волоколамское`)
								+item(`Удаленность`)
									+e.line.row
										.small.col-auto от
										.col
											+input()
										.small.col-auto от
										.col
											+input()
										.small.col-auto км

									+e.title Площадь
									+e.line.row
										.small.col-auto от
										.col
											+input()
										.small.col-auto от
										.col
											+input()
										.small.col-auto соток
									+e.title Цена
									+e.line.row
										.small.col-auto от
										.col
											+input()
										.small.col-auto от
										.col
											+input()
										.small.col-auto ₽

							+item(`Назначение`,`Многоэтажное жилищное строительство`,`Индивидуальное жилищное строительство`,`Промышленное назначение`,`Коммерческое назначение`,`Рекреационное назначение`,`Сельскохозяйственное использование`)
							+e.footer.text-center
								button.btn.btn-primary.w-100.mb-2 Показать участки
								.fw-600 Сбросить фильтр
					.col-lg-9
						+b.filter-head
							.h5.fw-600.mb-4 Найдено земель:  
								| 
								span.text-primary 325
							.row.g-3
								.col-md-auto.fw-600 Сортировать: 
								.col
									+e.btn(type='button').active  по цене
									+e.btn(type='button') по площади
									+e.btn(type='button') по дате добавления
						.row.gy-4
							- for (var x = 0; x < 9; x++)
								.col-lg-4.col-6 
									+product-item(`Pellentesque mollis nibh non nibh laoreet`)
						+e.btn.w-100.mt-5(href="#") Показать еще