-
	var nav= { 
		"О компании":"#",
		"Контакты":"#",
		}
-
	var subnav= { 
		"Подбор земельных участков":"#",
		"Юридическое сопровождение, Due Diligence":"#",
		"Разработка градостроительной документации":"#",
		"Оценка градостроительного потенциала и инвестиционной стоимости":"#" ,
		"Аналитические исследования земельного рынка и девелоперских проектов":"#" ,
		"Аэрофотосъемка объектов":"#" ,
		}
-
	var subnav2= { 
		"Многоэтажное жилищное строительство":"#",
		"Индивидуальное жилищное строительство ":"#",
		"Промышленное назначение ":"#",
		"Коммерческое назначение":"#",
		"Рекреационное назначение ":"#",
		"Сельскохозяйственное использование":"#",
		}
mixin mnu()
	ul.menu(itemscope itemtype="http://schema.org/SiteNavigationElement")
		if subnav
			li.menu-item.menu-item-has-children
				a(href="#" itemprop="url") Услуги
				ul.sub-menu
					each sublinkPatch, sublinkName in subnav
						li.menu-item(itemprop="item" ): a(href= sublinkPatch itemprop="url")= sublinkName
		if subnav2
			li.menu-item.menu-item-has-children
				a(href="#" itemprop="url") Земельные участки
				ul.sub-menu
					each sublinkPatch, sublinkName in subnav2
						li.menu-item(itemprop="item" ): a(href= sublinkPatch itemprop="url")= sublinkName
		each linkPatch, linkName in nav
			li.menu-item(itemprop="item" ): a(href= linkPatch itemprop="url")= linkName

//- menu